<!-- Inicio Footer -->
<br>
<div class="container text-dark bg-warning p-4 rounded-2">
    <div class="row">
        <div class="col-6 col-md-8 col-lg-7">
            <div class="row text-center">
                <div class="col-sm-6 col-md-4 col-lg-4 col-12 my-auto">
                    <h3 class="text-center">Cont&aacute;ctame</h3>
                    <ul class="list-group">
                        <a href="https://www.linkedin.com/in/jeanpoololiveryantasinocente/" target="_blank" class="text-white list-group-item my-1 rounded-5 text-center bg-primary">
                            <i class="fab fa-linkedin m-1"></i> Linkedin
                        </a>
                        <a href="https://github.com/jeanyantas" target="_blank" class="text-white list-group-item my-1 rounded-5 text-center bg-primary">
                            <i class="fab fa-github m-1"></i> Github
                        </a>
                        <a href="https://www.youtube.com/channel/UCxV3cXwh9Ls1Osvyer2wvFw/featured" target="_blank" class="text-white list-group-item my-1 rounded-5 text-center bg-primary">
                            <i class="fab fa-youtube m-1"></i> YouTube
                        </a>
                        <a href="https://www.instagram.com/jeanpoolyantas/" target="_blank" class="text-white list-group-item my-1 rounded-5 text-center bg-primary">
                            <i class="fab fa-instagram m-1"></i> Instagram
                        </a>
                        <a href="https://www.freecodecamp.org/JeanYantas" target="_blank" class="text-white list-group-item my-1 rounded-5 text-center bg-primary">
                            <i class="fab fa-free-code-camp m-1"></i> FreeCodeCamp
                        </a>
                    </ul>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-4 col-12">
                    <ul class="list-unstyled">
                        <a href="https://myblog2022.pythonanywhere.com/" target="_blank">
                            <i class="fa-solid fa-blog"></i>
                            Mi Blog Noticias
                        </a>
                        <p>Noticias sobre las tecnolog&iacute;as</p>
                    </ul>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-4">
                    <ul class="list-unstyled">
                        <li class="btn-link text-primary">
                            <a href="https://miportafoliojeanyantas.pythonanywhere.com/blog" target="_blank">
                                <i class="fa-solid fa-blog"></i>
                                Mi Blog Personal
                            </a>
                        </li>
                        Media Marat&oacute;n de Lima 2022
                        <br>
                        Viajes
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-lg-5 col-6">
            <address>
            <strong>MySiteWeb, Inc.</strong><br>
            <i>Desarrollado el 03 de diciembre del 2022 para el Bootcamp 'Full Stack Developer' Beca J&oacute;venes Bicentenario - Curso de Framework Angular.</i>
            <br>
            Per&uacute;, Lima
            <br>
            <i class="fa-solid fa-diagram-project"></i>
            <a href="https://miportafoliojeanyantas.pythonanywhere.com/" target="_blank"> My Portfolio</a>
            <br>
            <i class="fa-solid fa-phone"></i>
            <abbr title="Phone">P:</abbr> (+51) 937 817 827
            </address>
            <address>
            <strong>Jean Pool Oliver Yantas Inocente</strong>
            <br>
            <i class="fa-solid fa-envelope"></i>
            <a href="mailto:#"> jean.yantas@gmail.com</a>
            </address>
        </div>
    </div>
</div>

<footer class="text-center">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <p>Copyright © MyWebsite. All rights reserved.</p>
            </div>
        </div>
    </div>
</footer>
<!-- Fin Footer -->