<nav>
    <input type="checkbox" id="check">
    <label for="check" class="checkbtn">
        <i class="fas fa-bars"></i>
    </label>
    <a href="/navbar" class="enlace">
        <img src="./assets/logo.png" alt="logo_img" class="logo">
        <i class="fa-solid fa-j">ean pool oliver yantas inocente</i>
    </a>
    <ul>
        <li><a href="/home"><i class="fa-solid fa-book-open-reader"></i> Inicio</a></li>
        <li><a href="/usuarios"><i class="fa-solid fa-users"></i> Usuarios</a></li>
        <li><a href="/contacto"><i class="fa-solid fa-id-badge"></i> Contacto</a></li>
        <li><a href="#" (click)="logout()"><i class="fa-solid fa-right-from-bracket"></i> Cerrar Sesi&oacute;n</a></li>
    </ul>
</nav>